.cursor
node_modules
dist
docs

# Local secrets & runtime data
.env
.env.*
!.env.example
.data/
.pnpm-store/

graphify-out/
.graphifyignore

*.pem

/generated/prisma

superpowers
.DS_Store
.agents/plans
.agents/rules
.agents/settings.json
test.env